<nav>
  <img id="logo" alt="logo" />
  <div id="nav-links">
    <a routerLink="/">Főoldal</a>
    <a routerLink="/about">About</a>
    <a routerLink="/contact">Contact</a>
    <a
      routerLink="/blog"
      matTooltip="(Ez egy készülőben lévő utazás szervező PWA projektem, ami még nincs hostolva.)"
      >Te is utaznál?
      <mat-icon style="height: 0.9rem; font-size: smaller"
        >open_in_new</mat-icon
      ></a
    >
  </div>
  <div id="side-actions">
    @if(this.authService.isAuthenticated) {
    <a routerLink="create" id="create-btn" mat-fab extended>
      <mat-icon>add</mat-icon>
      Create
    </a>
    <img
      id="profile-pic"
      src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541"
      alt="profile picture"
      openProfileMenu
    />
    <div id="profile-menu" openProfileMenu>
      <h3 id="profile-menu-header">
        Welcome {{ authService.userData?.fullname }}!
      </h3>
      <div id="profile-menu-links">
        <a class="link" routerLink="me">Profile</a>
        <a class="link" (click)="logout()">Logout</a>
      </div>
    </div>
    } @else {
    <div id="auth-links">
      <a routerLink="/signin" mat-raised-button>Belépés</a>
      <a routerLink="/signup" mat-flat-button>Regisztráció</a>
    </div>
    }
    <button id="drawer-btn" mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</nav>
